<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinDemoApp"
        tools:targetApi="31">
        <activity
            android:name=".activity.components.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".screens.on_cloud.activity.OnCloudActivity"
            android:exported="false" />
        <activity
            android:name=".activity.intent.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.intent.ExplicitIntent"
            android:exported="false"
            android:taskAffinity="com.some.affinity" />
        <activity
            android:name=".activity.intent.ImplicitIntent"
            android:exported="true"
            android:taskAffinity="com.new_task">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.components.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.DataPassingInFragment"
            android:exported="false" />
        <activity
            android:name=".activity.components.ImagePicker"
            android:exported="false" />
        <activity
            android:name=".screens.ParkingCitation"
            android:exported="false" />
        <activity
            android:name=".activity.components.FragmentBottomNavigation"
            android:exported="false" />
        <activity
            android:name=".activity.components.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.components.RecyclerView"
            android:exported="false" />
        <activity
            android:name=".activity.components.MaterialCalender"
            android:exported="false" />
        <activity
            android:name=".activity.components.GridLayout"
            android:exported="false" />
        <activity
            android:name=".activity.components.AppBarLayout"
            android:exported="false" />
        <activity
            android:name=".activity.components.TabLayout"
            android:exported="false" />
        <activity
            android:name=".activity.components.SnackBar"
            android:exported="false" />
        <activity
            android:name=".activity.components.FAB"
            android:exported="false" />
        <activity
            android:name=".screens.go_tour.GoTourDiscover"
            android:exported="false" />
        <activity
            android:name=".screens.go_tour.GoTourUpcoming"
            android:exported="false" />
        <activity
            android:name=".screens.go_tour.GoTourSignUp"
            android:exported="false" />
        <activity
            android:name=".screens.go_tour.GoTourLogin"
            android:exported="false" />
        <activity
            android:name=".screens.MeetingScheduler"
            android:exported="true" />
        <activity
            android:name=".screens.AccountSecurity"
            android:exported="false" />
        <activity
            android:name=".activity.components.Calender"
            android:exported="false" />
        <activity
            android:name=".activity.components.Chip"
            android:exported="false" />
        <activity
            android:name=".activity.components.Toast"
            android:exported="false" />
        <activity
            android:name=".activity.components.Spinner"
            android:exported="false" />
        <activity
            android:name=".activity.components.SwitchSlider"
            android:exported="false" />
        <activity
            android:name=".activity.components.RadioCheck"
            android:exported="false" />
        <activity
            android:name=".activity.components.ImageButton"
            android:exported="false" />
        <activity
            android:name=".activity.components.EditText"
            android:exported="false" />
        <activity
            android:name=".activity.components.TextView"
            android:exported="false" />
        <activity
            android:name=".activity.components.ComponentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PlaceholderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".activity.components.Button"
            android:exported="false" />
        <activity
            android:name=".activity.RelativeLayout"
            android:exported="false" />
        <activity
            android:name=".activity.LinearLayout"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".broadcast.AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>